<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-lg-3 col-md-4 col-12 about">
                    <div class="footer-col-inner">
                        <h3>About</h3>
                        <ul>
                            <li><i class="fas fa-caret-right"></i>@Html.ActionLink("Courses", "Courses", "Course")</li>
                            <li><i class="fas fa-caret-right"></i>@Html.ActionLink("Events", "Events", "Event")</li>
                            <li><i class="fas fa-caret-right"></i>@Html.ActionLink("Job Vacancies", "JobVacancies", "Job")</li>
                            <li><i class="fas fa-caret-right"></i>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li><i class="fas fa-caret-right"></i>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-lg-6 col-md-8 col-12 newsletter">
                    <div class="footer-col-inner">
                        <h3>Join our mailing list</h3>
                        <p>Subscribe to get our newsletter delivered directly to your inbox</p>
                        <form class="subscribe-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email" />
                            </div>
                            <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                        </form>

                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-lg-3 col-12 contact">
                    <div class="footer-col-inner">
                        <h3>Contact us</h3>
                        <div class="row">
                            <p class="adr clearfix col-lg-12 col-md-4 col-12">
                                <i class="fas fa-map-marker-alt float-left"></i>
                                <span class="adr-group float-left">
                                    <span class="street-address">397 Chamberlain Road</span><br />
                                    <span class="suburb">Jacobs</span><br />
                                    <span class="city">Durban</span><br />
                                    <span class="postal-code">4052</span><br />
                                </span>
                            </p>
                            <p class="tel col-lg-12 col-md-4 col-12"><i class="fas fa-phone"></i>031 811 1007</p>
                            <p class="tel col-lg-12 col-md-4 col-12"><i class="fab fa-whatsapp"></i> 061 415 4001</p>
                            <p class="email col-lg-12 col-md-4 col-12"><i class="fas fa-envelope"></i><a href="mailto:info@uphiweskills.co.za">info@uphiweskills.co.za</a></p>
                        </div>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
            </div>
        </div>
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <small class="copyright col-lg-6 col-12">Copyright @DateTime.Now.Year.ToString() UST College</small>
                <ul class="social float-right col-lg-6 col-12">
                    <li><a href="https://twitter.com/UphiweSkills?lang=en"><i class="fab fa-twitter"></i></a></li>
                    <li class="row-end"><a href="https://www.facebook.com/uphiwe.konke.1"><i class="fab fa-facebook-f"></i></a></li>
                </ul><!--//social-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
